# SPDX-FileCopyrightText: Citadel and contributors
#
# SPDX-License-Identifier: AGPL-3.0-only

# yaml-language-server: $schema=../../app-standard-v4.yml

citadel_version: 4

metadata:
  category: Payments
  name: BTCPay Server
  version: 1.6.12
  tagline: Accept Bitcoin payments. Free, open-source & self-hosted, Bitcoin
    payment processor.
  description: "BTCPay Server is a free and open-source Bitcoin payment processor
    which allows you to accept bitcoin without fees or intermediaries. "
  developers:
    BTCPay Server Foundation: https://btcpayserver.org
  permissions:
  {% if services is containing("lnd") %}
    - lnd
  {% elif services is containing("c-lightning") %}
    - c-lightning
  {% else %}
    - - lnd
      - c-lightning
  {% endif %}
    - bitcoind
  repo:
    Public: https://github.com/btcpayserver/btcpayserver
  support: https://chat.btcpayserver.org
  gallery:
    - 1.jpg
    - 2.jpg
    - 3.jpg

services:
  main:
    port: 3000
    image: btcpayserver/btcpayserver:1.6.12@sha256:41768be32374ebc4f64050ad5e56ffef8834ccacbff0440c0938a493abcec252
    depends_on:
      - nbxplorer
      - postgres
    entrypoint:
      - dotnet
      - BTCPayServer.dll
    environment:
      HOME: /data
      BTCPAY_DATADIR: /data
      BTCPAY_PLUGINDIR: /data/plugins
      BTCPAY_DOCKERDEPLOYMENT: "false"
      BTCPAY_POSTGRES: User
        ID=postgres;Host=$APP_BTCPAY_SERVER_POSTGRES_IP;Port=5432;Application
        Name=btcpayserver;Database=btcpayserver$BITCOIN_NETWORK
      BTCPAY_NETWORK: $BITCOIN_NETWORK
      BTCPAY_BIND: 0.0.0.0:3000
      BTCPAY_CHAINS: btc
      BTCPAY_BTCEXPLORERURL: http://$APP_BTCPAY_SERVER_NBXPLORER_IP:32838
      {% if services is containing("lnd") %}
      BTCPAY_BTCLIGHTNING: type=lnd-rest;server=https://$LND_IP:$LND_REST_PORT/;macaroonfilepath=/lnd/data/chain/bitcoin/$BITCOIN_NETWORK/admin.macaroon;allowinsecure=true
      {% elif services is containing("c-lightning") %}
      BTCPAY_BTCLIGHTNING: type=clightning;server=unix://c-lightning/bitcoin/lightning-rpc
      {%endif %}
      BTCPAY_SOCKSENDPOINT: $TOR_PROXY_IP:$TOR_PROXY_PORT
    mounts:
      {% if services is containing("lnd") %}
      lnd: /lnd
      {% elif services is containing("c-lightning") %}
      c_lightning: /c-lightning
      {%endif %}
      data:
        data/nbxplorer: /data/.nbxplorer
        data/btcpay: /data
    user: 1000:1000
  nbxplorer:
    depends_on:
      - postgres
    image: nicolasdorier/nbxplorer:2.3.42@sha256:c6b255498b1bad64cdf874459edd163c6a84f9b39118ecc4ad0816900f7647d4
    user: 1000:1000
    environment:
      NBXPLORER_DATADIR: /data
      NBXPLORER_NETWORK: $BITCOIN_NETWORK
      NBXPLORER_PORT: "32838"
      NBXPLORER_BIND: 0.0.0.0
      NBXPLORER_CHAINS: btc
      NBXPLORER_SIGNALFILEDIR: /data
      NBXPLORER_BTCRPCURL: http://$BITCOIN_IP:$BITCOIN_RPC_PORT
      NBXPLORER_BTCNODEENDPOINT: $BITCOIN_IP:$BITCOIN_P2P_PORT
      NBXPLORER_BTCRPCUSER: $BITCOIN_RPC_USER
      NBXPLORER_BTCRPCPASSWORD: $BITCOIN_RPC_PASS
      NBXPLORER_POSTGRES: User
        ID=postgres;Host=$APP_BTCPAY_SERVER_POSTGRES_IP;Port=5432;Application
        Name=nbxplorer;MaxPoolSize=20;Database=nbxplorer${BITCOIN_NETWORK}
      NBXPLORER_AUTOMIGRATE: "1"
      NBXPLORER_NOMIGRATEEVTS: "1"
    mounts:
      data:
        data/nbxplorer: /data
  postgres:
    image: ghcr.io/runcitadel/postgres:main@sha256:8f25afe966a63fd3f11a1052e73f30b9de5ddc0876bebaaf944d485374c73c01
    user: 1000:1000
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    mounts:
      data:
        data/postgres: /var/lib/postgresql/data
