log_filters = "INFO"
{% if BITCOIN_NETWORK == "mainnet" %}
network = "bitcoin"
{% else %}
network = "{{ BITCOIN_NETWORK }}"
{% endif %}
db_dir = "/data/db"
daemon_dir = "/bitcoin"
daemon_rpc_addr = "{{ BITCOIN_IP }}:{{ BITCOIN_RPC_PORT }}"
daemon_p2p_addr = "{{ BITCOIN_IP }}:{{ BITCOIN_P2P_PORT }}"
electrum_rpc_addr = "0.0.0.0:50001"
server_banner = "Electrs on Citadel"
