datadir = /data
bitcoind = {{ BITCOIN_IP }}:{{ BITCOIN_RPC_PORT }}
tcp = 0.0.0.0:50001
ws = 0.0.0.0:50003
peering = false
announce = false
admin = 8000
stats = 8080
tor_proxy = {{ TOR_PROXY_IP }}:{{ TOR_PROXY_PORT }}
